@charset "UTF-8";
body {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

body {
  background: #F1E8E2;
}

.u-desktop {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none !important;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5384615385vw;
  }
}
@media (min-width: 1040px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-card:hover .blog-card__image, .blog-card:hover .blog-card__title {
  opacity: 0.6;
}

.blog-card__image {
  position: relative;
  margin-bottom: 7px;
  margin-bottom: 0.4375rem;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (min-width: 768px) {
  .blog-card__image {
    margin-bottom: 1.25rem;
  }
}

.blog-card__image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.blog-card__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card__headding {
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .blog-card__headding {
    margin-bottom: 1.0625rem;
  }
}

.blog-card__category {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  padding: 1px 4px;
  padding: 0.0625rem 0.25rem;
  background: #006E35;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .blog-card__category {
    font-size: 1rem;
    padding: 0.125rem 0.5rem;
  }
}

.blog-card__category.blog-card__category--background-red {
  background: #C01920;
}

.blog-card__category.blog-card__category--background-white {
  background: #fff;
  color: #111;
}

.blog-card__title {
  line-height: 1.2;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (min-width: 768px) {
  .blog-card__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    padding-right: 0.375rem;
  }
}

.blog-card__time {
  font-size: 12px;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .blog-card__time {
    font-size: 1rem;
  }
}

.blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-cards__item {
  width: calc(50% - 0.5rem);
  margin-bottom: 38px;
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 768px) {
  .blog-cards__item {
    width: calc(25% - 2.4375rem);
    margin-bottom: 2.5rem;
  }
}

.blog-cards__item:nth-child(odd) {
  margin-right: 16px;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .blog-cards__item:nth-child(odd) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .blog-cards__item:not(:nth-child(4n)) {
    margin-right: 3.25rem;
  }
}

.button {
  display: inline-block;
  padding: 18px 38px;
  padding: 1.125rem 2.375rem;
  background: #3D241B;
  color: #fff;
  -webkit-box-shadow: 0 0.25rem 0 rgba(0, 0, 0, .25);
          box-shadow: 0 0.25rem 0 rgba(0, 0, 0, .25);
  position: relative;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 1.125rem;
    padding: 1.25rem 4.5625rem;
  }
}

.button span {
  display: inline-block;
  padding-right: 44px;
  padding-right: 2.75rem;
  position: relative;
}

.button span::after {
  content: "";
  background: url(../../../images/common/arrow.png) no-repeat center center/contain;
  position: absolute;
  height: 12px;
  height: 0.75rem;
  width: 12px;
  width: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
}

.button.button--decoration-italy {
  padding: 18px 46px;
  padding: 1.125rem 2.875rem;
}
@media screen and (min-width: 768px) {
  .button.button--decoration-italy {
    padding: 1.375rem 3.4375rem;
    font-size: 1.125rem;
  }
}

.button.button--decoration-italy::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  height: 0.1875rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(33.3333%, green), color-stop(33.3333%, white), color-stop(66.6666%, white), color-stop(66.6666%, red), to(red));
  background: linear-gradient(to right, green 0%, green 33.3333%, white 33.3333%, white 66.6666%, red 66.6666%, red 100%);
}

.drawer-background {
  background: #F1E8E2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 39;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.drawer-background.is-active {
  visibility: visible;
  opacity: 0.8;
}

.drawer-content {
  position: fixed;
  z-index: 40;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  text-align: center;
}

.drawer-content.is-active {
  visibility: visible;
}

.drawer-content__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawer-content__items {
  width: 100%;
}

.drawer-content__item a {
  display: block;
  color: #111;
  font-size: 40px;
  font-size: 2.5rem;
  width: 100%;
}

.drawer-content__item:not(:last-child) {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.drawer {
  width: 60px;
  width: 3.75rem;
  max-width: 100%;
  height: inherit;
  background: #3D241B;
  position: relative;
}

.drawer__items {
  width: 22px;
  width: 1.375rem;
  height: 14px;
  height: 0.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.drawer__item1, .drawer__item2 {
  position: absolute;
  width: 22px;
  width: 1.375rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
}

.drawer__item3 {
  position: absolute;
  width: 11px;
  width: 0.6875rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
}

.drawer__item1 {
  top: 0;
  left: 0;
}

.drawer__item2 {
  top: 6px;
  top: 0.375rem;
  left: 0;
}

.drawer__item3 {
  top: 12px;
  top: 0.75rem;
  right: 0;
}

.drawer.is-active .drawer__item1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  top: 0.5rem;
}

.drawer.is-active .drawer__item2 {
  display: none;
}

.drawer.is-active .drawer__item3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  top: 0.5rem;
  width: 22px;
  width: 1.375rem;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(9%, transparent), color-stop(9%, #DCC4AF), to(#DCC4AF));
  background: linear-gradient(to bottom, transparent 0%, transparent 9%, #DCC4AF 9%, #DCC4AF 100%);
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__decoration {
  width: 132px;
  width: 8.25rem;
  position: absolute;
  bottom: 68px;
  bottom: 4.25rem;
  left: 0;
}

.footer__image {
  position: relative;
  width: 250px;
  width: 15.625rem;
  margin: 0 auto 40px;
  margin: 0 auto 2.5rem;
}
@media screen and (min-width: 768px) {
  .footer__image {
    width: 31.25rem;
    margin: 0 6.25rem 0 0;
  }
}

.footer__image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.footer__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__content {
  text-align: center;
}

.footer__text {
  text-align: center;
  margin-bottom: 4.62px;
  margin-bottom: 0.28875rem;
  font-size: 15px;
  font-size: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .footer__text {
    margin-top: 8.25rem;
    margin-bottom: 0.4375rem;
    font-size: 1.5rem;
  }
}

.footer__tel {
  margin: 0 auto 40px;
  margin: 0 auto 2.5rem;
  font-size: 22px;
  font-size: 1.375rem;
  display: inline-block;
  padding-left: 31px;
  padding-left: 1.9375rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer__tel {
    margin-bottom: 1.9375rem;
    font-size: 2.25rem;
    padding-left: 3.125rem;
  }
}

.footer__tel::before {
  content: "";
  position: absolute;
  height: 30px;
  height: 1.875rem;
  width: 30px;
  width: 1.875rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../../../images/top/telephone.png) no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .footer__tel::before {
    height: 3.125rem;
    width: 3.125rem;
  }
}

.footer__button {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .footer__button {
    margin-bottom: 5rem;
  }
}

.footer__nav {
  width: 100%;
  max-width: 400px;
  max-width: 25rem;
  margin: 0 auto 55px;
  margin: 0 auto 3.4375rem;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__lists {
    font-size: 1.125rem;
  }
}

.footer__copy {
  font-size: 10px;
  font-size: 0.625rem;
  text-align: center;
  padding: 27px 0;
  padding: 1.6875rem 0;
  background: #3D241B;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    padding: 1.375rem 0;
  }
}

.footer__lists li a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
}

.footer__lists li a::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #111;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.footer__lists li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.header {
  height: 60px;
  height: 3.75rem;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  background: #F1E8E2;
}
@media screen and (min-width: 768px) {
  .header {
    height: 5.625rem;
  }
}

/*　上に上がる動き　*/
.header.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes UpAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/*　上に上がる動きここまで　*/
/*　下に下がる動き　*/
.header.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes DownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*　下に下がる動きここまで　*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  padding-left: 0.5rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 3.75rem;
  }
}

.header__logo {
  width: 135px;
  width: 8.4375rem;
  max-width: 100%;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 14.375rem;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1090px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/*========= LoadingのためのCSS ===============*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #F1E8E2;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 550px;
  width: 34.375rem;
}

/*========= SVG操作手書き風にするためのCSS ===============*/
#mask .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 90;
  /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  /* 線の間隔を指定する */
  stroke-dashoffset: 1500;
  /* 線の位置を指定する */
}

/*========= 扉を開く演出にするためのCSS ===============*/
body.appear {
  background: #F1E8E2;
  /*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2 {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg1,
body.appear .splashbg2 {
  display: block;
}

/*右に消えるエリア*/
body.appear .splashbg1 {
  -webkit-animation-name: PageAnime;
          animation-name: PageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #F1E8E2;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
/*左に消えるエリア*/
body.appear .splashbg2 {
  -webkit-animation-name: PageAnime2;
          animation-name: PageAnime2;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: #F1E8E2;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes PageAnime2 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes PageAnime2 {
  0% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}
/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F1E8E2;
  z-index: 100;
  padding: 0 20px;
  padding: 0 1.25rem;
  display: none;
}

.modal-background.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.modal-reserve {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
  height: 78.9063%;
  padding: 60px 20px 80px;
  padding: 3.75rem 1.25rem 5rem;
  background: #fff;
  display: none;
}
@media screen and (min-width: 768px) {
  .modal-reserve {
    padding: 3.75rem 3.5rem 5rem;
    width: 38.3125rem;
    max-width: 100%;
  }
}

.modal-reserve.is-active {
  visibility: visible;
  opacity: 1;
  display: block;
  background: red;
}

.modal-reserve__content {
  background: #fff;
  color: #3D241B;
  padding: 60px 20px 80px;
  padding: 3.75rem 1.25rem 5rem;
}

.modal-reserve__title {
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

.modal-reserve__raw {
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
}

.modal-reserve__raw:nth-child(4) {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

.modal-reserve__label {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #3D241B;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .modal-reserve__label {
    font-size: 1rem;
  }
}

.modal-reserve__input [type=text] {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  border-bottom: solid 2px #3D241B;
}
@media screen and (min-width: 768px) {
  .modal-reserve__input [type=text] {
    font-size: 1.25rem;
  }
}

.modal-reserve__input [type=tel] {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
  border-bottom: solid 1px #3D241B;
}
@media screen and (min-width: 768px) {
  .modal-reserve__input [type=tel] {
    font-size: 1.25rem;
  }
}

.modal-reserve__input [type=email] {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
  border-bottom: solid 1px #3D241B;
}
@media screen and (min-width: 768px) {
  .modal-reserve__input [type=email] {
    font-size: 1.25rem;
  }
}

.modal-reserve__input [type=datetime-local] {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
  border-bottom: solid 1px #3D241B;
}
@media screen and (min-width: 768px) {
  .modal-reserve__input [type=datetime-local] {
    font-size: 1.25rem;
  }
}

.modal-reserve__button {
  text-align: center;
}

.modal-reserve__button [type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  padding: 20px 55px;
  padding: 1.25rem 3.4375rem;
  background: #3D241B url(../../../images/common/arrow.png) no-repeat right 50px center/12px 12px;
  background: #3D241B url(../../../images/common/arrow.png) no-repeat right 3.125rem center/0.75rem 0.75rem;
  color: #fff;
  -webkit-box-shadow: 0 0.25rem 0 rgba(0, 0, 0, .25);
          box-shadow: 0 0.25rem 0 rgba(0, 0, 0, .25);
  width: 280px;
  width: 17.5rem;
  max-width: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
@media screen and (min-width: 768px) {
  .modal-reserve__button [type=submit] {
    font-size: 1.125rem;
    padding: 1.25rem 4.5625rem;
  }
}

.modal-reserve__message {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
  display: none;
}

.modal-reserve__message.modal-reserve__message--error {
  color: #f00;
}

.nav {
  height: inherit;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.nav__lists li {
  height: inherit;
  padding: 0 24px;
  padding: 0 1.5rem;
}

.nav__lists li:last-child {
  margin-right: 24px;
  margin-right: 1.5rem;
}

.nav__lists li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-size: 1.125rem;
  position: relative;
  height: inherit;
  line-height: 1;
}

.nav__lists li a::after {
  content: "";
  position: absolute;
  bottom: 35%;
  left: 0%;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: #111;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.nav__lists li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.pc-reserve {
  color: #fff;
  padding: 12px 52px;
  padding: 0.75rem 3.25rem;
  background: #3D241B;
  position: relative;
  height: inherit;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pc-reserve:hover {
  opacity: 0.6;
}

.pc-reserve::after {
  content: "";
  width: 100%;
  height: 5px;
  height: 0.3125rem;
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(33.3333%, green), color-stop(33.3333%, white), color-stop(66.6666%, white), color-stop(66.6666%, red), to(red));
  background: linear-gradient(to right, green 0%, green 33.3333%, white 33.3333%, white 66.6666%, red 66.6666%, red 100%);
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.pc-reserve__text-english {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
}

.pc-reserve__text-japanese {
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
}

.sp-reserve {
  width: 60px;
  width: 3.75rem;
  height: inherit;
  position: relative;
  padding-top: 12px;
  padding-top: 0.75rem;
  background: #BD8D62;
}

.sp-reserve::after {
  content: "";
  width: 100%;
  height: 4px;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(33.3333%, green), color-stop(33.3333%, white), color-stop(66.6666%, white), color-stop(66.6666%, red), to(red));
  background: linear-gradient(to right, green 0%, green 33.3333%, white 33.3333%, white 66.6666%, red 66.6666%, red 100%);
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.sp-reserve__image {
  width: 24px;
  width: 1.5rem;
  max-width: 100%;
  height: 24px;
  height: 1.5rem;
  margin: 0 auto;
}

.sp-reserve__text {
  color: #fff;
  font-size: 8px;
  font-size: 0.5rem;
  text-align: center;
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.top-about {
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-about {
    padding-top: 5.375rem;
    overflow: hidden;
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .top-about__contents-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .top-about__contents {
    width: 33.75rem;
    margin-top: 3.6875rem;
    margin-right: 9.375rem;
  }
}

.top-about__titles {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .top-about__titles {
    margin-bottom: 3.75rem;
  }
}

.top-about__text {
  text-align: center;
  line-height: 2;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .top-about__text {
    font-size: 1.125rem;
    margin-bottom: 3.75rem;
  }
}

.top-about__text span {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-about__text span {
    display: inline;
  }
}

.top-about__images {
  position: relative;
  width: 220px;
  width: 13.75rem;
  margin: 0 auto 80px;
  margin: 0 auto 5rem;
}
@media screen and (min-width: 768px) {
  .top-about__images {
    width: 21.875rem;
    margin-bottom: 11.1875rem;
  }
}

.top-about__image {
  position: relative;
  margin: 0 auto;
}

.top-about__image::before {
  content: "";
  display: block;
  padding-top: 68.1818%;
}
@media screen and (min-width: 768px) {
  .top-about__image::before {
    padding-top: 160%;
  }
}

.top-about__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-about__images-name {
  font-size: 28px;
  font-size: 1.75rem;
  color: #3D241B;
  letter-spacing: 0.485em;
  font-weight: bold;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 41%;
}
@media screen and (min-width: 768px) {
  .top-about__images-name {
    -webkit-transform: translateY(0%) rotate(90deg);
            transform: translateY(0%) rotate(90deg);
    font-size: 3.75rem;
    left: 13%;
    top: 46%;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

.top-about__images-decoration {
  width: 110px;
  width: 6.875rem;
  position: absolute;
  top: -32%;
  left: -35%;
}
@media screen and (min-width: 768px) {
  .top-about__images-decoration {
    width: 15.6875rem;
    top: 0%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.top-about__button {
  text-align: center;
}

.top-about__background {
  background: #DCC4AF;
  right: 0;
  bottom: 0;
  width: 29.6%;
  height: 62.5187%;
  display: block;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top-about__background {
    width: 48.6111%;
    opacity: 1;
    height: 67%;
  }
}

.top-about__decoration {
  width: 238px;
  width: 14.875rem;
  position: absolute;
  top: 60%;
  left: 5.5%;
}

.top-access {
  padding: 80px 0 0;
  padding: 5rem 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#DCC4AF), color-stop(41.0832%, #DCC4AF), color-stop(41.0832%, transparent), to(transparent));
  background: linear-gradient(to bottom, #DCC4AF 0%, #DCC4AF 41.0832%, transparent 41.0832%, transparent 100%);
}
@media screen and (min-width: 768px) {
  .top-access {
    background: -webkit-gradient(linear, left top, left bottom, from(#DCC4AF), color-stop(39.5%, #DCC4AF), color-stop(39.5%, transparent), to(transparent));
    background: linear-gradient(to bottom, #DCC4AF 0%, #DCC4AF 39.5%, transparent 39.5%, transparent 100%);
  }
}

.top-access__decoration {
  position: absolute;
  right: 0;
  bottom: -31px;
  bottom: -1.9375rem;
  width: 99px;
  width: 6.1875rem;
}

.top-access__titles {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}

.top-access__map-wrapper {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
  width: 100%;
  padding-top: 59.7015%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-access__map-wrapper {
    padding-top: 48.0769%;
    margin-bottom: 5rem;
  }
}

.top-access__map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-access__logo {
  width: 240px;
  width: 15rem;
  margin: 0 auto 39px;
  margin: 0 auto 2.4375rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-access__logo {
    width: 15rem;
  }
}

.top-access__logo::before {
  content: "";
  display: block;
  padding-top: 25.2174%;
}

.top-access__logo img {
  position: absolute;
  top: -2px;
  top: -0.125rem;
  left: 2px;
  left: 0.125rem;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .top-access__content {
    position: relative;
  }
}

.top-access__text {
  text-align: center;
  line-height: 1.355;
}
@media screen and (min-width: 768px) {
  .top-access__text {
    font-size: 1.125rem;
  }
}

.top-access__text:not(:last-child) {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}
@media screen and (min-width: 768px) {
  .top-access__text:not(:last-child) {
    margin-bottom: 1.4375rem;
  }
}

@media screen and (min-width: 768px) {
  .top-blog {
    padding-bottom: 5rem;
    margin-bottom: 6.25rem;
    position: relative;
  }
}

.top-blog__titles {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 768px) {
  .top-blog__titles {
    margin-bottom: 5rem;
  }
}

.top-blog__cards {
  margin-bottom: 51px;
  margin-bottom: 3.1875rem;
}
@media screen and (min-width: 768px) {
  .top-blog__cards {
    margin-bottom: 2.5rem;
  }
}

.top-blog__button {
  text-align: center;
}

.top-blog__decoration {
  width: 129px;
  width: 8.0625rem;
  position: absolute;
  left: 71px;
  left: 4.4375rem;
  bottom: 34px;
  bottom: 2.125rem;
}

.top-brand {
  padding: 60px 0;
  padding: 3.75rem 0;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#DCC4AF), color-stop(26.6667%, #DCC4AF), color-stop(26.6667%, transparent), to(transparent));
  background: linear-gradient(to right, #DCC4AF 0%, #DCC4AF 26.6667%, transparent 26.6667%, transparent 100%);
}
@media screen and (min-width: 768px) {
  .top-brand {
    padding: 7.6875rem 0 11.0625rem;
    background: -webkit-gradient(linear, left top, right top, from(#DCC4AF), color-stop(41.6667%, #DCC4AF), color-stop(41.6667%, transparent), to(transparent));
    background: linear-gradient(to right, #DCC4AF 0%, #DCC4AF 41.6667%, transparent 41.6667%, transparent 100%);
  }
}

.top-brand__content {
  position: relative;
}

.top-brand__image {
  position: relative;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
@media screen and (min-width: 768px) {
  .top-brand__image {
    margin-left: auto;
    width: 70.139%;
  }
}

.top-brand__image.is-active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.top-brand__image::before {
  content: "";
  display: block;
  padding-top: 44.8%;
}
@media screen and (min-width: 768px) {
  .top-brand__image::before {
    padding-top: 44.5544%;
  }
}

.top-brand__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-brand__titles {
  color: #fff;
  position: relative;
  bottom: 75px;
  bottom: 4.6875rem;
}
@media screen and (min-width: 768px) {
  .top-brand__titles {
    position: absolute;
    top: 34.6667%;
    right: 0;
    width: 100%;
    bottom: auto;
  }
}

.top-brand__secondary-title {
  text-align: right;
  letter-spacing: 0.14em;
  font-weight: 100;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .top-brand__secondary-title {
    padding-right: 12.5rem;
    font-size: 1.25rem;
  }
}

.top-brand__line {
  margin-bottom: 3px;
  margin-bottom: 0.1875rem;
  width: 355px;
  width: 22.1875rem;
  height: 4px;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(33.3333%, green), color-stop(33.3333%, white), color-stop(66.6666%, white), color-stop(66.6666%, red), to(red));
  background: linear-gradient(to right, green 0%, green 33.3333%, white 33.3333%, white 66.6666%, red 66.6666%, red 100%);
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .top-brand__line {
    width: 81.25%;
    height: 0.375rem;
    margin-bottom: 0;
  }
}

.top-brand__primary-title {
  text-align: right;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.13;
  letter-spacing: 0.14em;
  font-weight: 100;
  padding-right: 20px;
  padding-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .top-brand__primary-title {
    padding-right: 0;
    font-size: 4.875rem;
    letter-spacing: 0.5em;
  }
}

.top-brand__primary-title .u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .top-brand__primary-title .u-desktop {
    display: inline-block;
  }
}

.top-brand__content .top-brand__name-image {
  position: absolute;
  width: 94.6667%;
  right: 0;
  top: 90%;
}
@media screen and (min-width: 768px) {
  .top-brand__content .top-brand__name-image {
    width: 86.1111%;
    top: 50%;
  }
}

.top-brand__name-image::before {
  content: "";
  display: block;
  padding-top: 29.014%;
}
@media screen and (min-width: 768px) {
  .top-brand__name-image::before {
    padding-top: 10.645%;
  }
}

.top-brand__name-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-concept {
  padding: 260px 0 186px;
  padding: 16.25rem 0 11.625rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-concept {
    padding: 6.25rem 0 13.875rem;
  }
}

.top-concept__logo {
  width: 240px;
  width: 15rem;
  margin: 0 auto 38px;
  margin: 0 auto 2.375rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-concept__logo {
    width: 35.625rem;
    margin-bottom: 3.375rem;
  }
}

.top-concept__logo::before {
  content: "";
  display: block;
  padding-top: 25.2174%;
}

.top-concept__logo img {
  position: absolute;
  top: -2px;
  top: -0.125rem;
  right: 0;
  bottom: 0;
  left: 2px;
  left: 0.125rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .top-concept__logo img {
    left: 0.6875rem;
  }
}

.top-concept__text {
  text-align: center;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .top-concept__text {
    font-size: 1.125rem;
  }
}

.top-concept__decoration-top {
  width: 227px;
  width: 14.1875rem;
  position: absolute;
  left: 0;
  top: 0%;
}
@media screen and (min-width: 768px) {
  .top-concept__decoration-top {
    width: 23.109%;
    top: 2.5rem;
    left: 0;
  }
}

.top-concept__decoration-bottom {
  width: 169px;
  width: 10.5625rem;
  position: absolute;
  right: 0;
  bottom: 40px;
  bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .top-concept__decoration-bottom {
    width: 23.1944%;
    right: 2.125rem;
    bottom: 5rem;
  }
}

.top-main-visual {
  position: relative;
}

.top-main-visual::before {
  content: "";
  display: block;
  padding-top: 222.9333%;
}
@media screen and (min-width: 768px) {
  .top-main-visual::before {
    padding-top: 47.2222%;
  }
}

.top-main-visual__titles {
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
}

.top-main-visual__title {
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 45px;
  margin-bottom: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .top-main-visual__title {
    margin-bottom: 2.5rem;
    font-size: 5rem;
    white-space: nowrap;
  }
}

.top-main-visual__subtitle {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.14em;
}
@media screen and (min-width: 768px) {
  .top-main-visual__subtitle {
    font-size: 1.5rem;
  }
}

.top-main-visual .top-main-visual__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100% !important;
}

.slide-in {
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.slide-in_inner {
  display: inline-block;
  width: 100%;
}

.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  -webkit-animation-name: slideTextX100;
          animation-name: slideTextX100;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes slideTextX100 {
  from {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

@keyframes slideTextX100 {
  from {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  -webkit-animation-name: slideTextX-100;
          animation-name: slideTextX-100;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes slideTextX-100 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

@keyframes slideTextX-100 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.top-menu {
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-menu {
    padding-top: 1.375rem;
    padding-bottom: 14.625rem;
    overflow: hidden;
  }
}

.top-menu__inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .top-menu__inner {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .top-menu__contents-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .top-menu__contents {
    width: 22.3125rem;
    margin-top: 1.625rem;
  }
}

.top-menu__titles {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .top-menu__titles {
    margin-bottom: 2.125rem;
  }
}

.top-menu__text {
  text-align: center;
  line-height: 2;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .top-menu__text {
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;
  }
}

.top-menu__images {
  position: relative;
  width: 220px;
  width: 13.75rem;
  margin: 0 auto 80px;
  margin: 0 auto 5rem;
}
@media screen and (min-width: 768px) {
  .top-menu__images {
    width: 59%;
    margin: 0 1.5rem 0 0;
  }
}

.top-menu__image {
  position: relative;
  margin: 0 auto;
}

.top-menu__image::before {
  content: "";
  display: block;
  padding-top: 68.1818%;
}
@media screen and (min-width: 768px) {
  .top-menu__image::before {
    padding-top: 53.5714%;
  }
}

.top-menu__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-menu__images-name {
  font-size: 28px;
  font-size: 1.75rem;
  color: #3D241B;
  letter-spacing: 0.56em;
  font-weight: bold;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 26%;
  white-space: nowrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .top-menu__images-name {
    letter-spacing: 0.48em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3.75rem;
    top: 100%;
    right: 0;
    left: 24%;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

.top-menu__images-decoration {
  width: 110px;
  width: 6.875rem;
  position: absolute;
  top: -40%;
  left: -35%;
}
@media screen and (min-width: 768px) {
  .top-menu__images-decoration {
    width: 15.6875rem;
    top: 0%;
    left: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.top-menu__button {
  text-align: center;
}

.top-menu__background {
  background: #DCC4AF;
  left: 0;
  bottom: 0;
  width: 29.6%;
  height: 62.5187%;
  display: block;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top-menu__background {
    width: 48.6111%;
    opacity: 1;
    left: auto;
    right: 0;
    height: 101%;
  }
}

.top-menu__decoration {
  width: 174px;
  width: 10.875rem;
  position: absolute;
  bottom: 160px;
  bottom: 10rem;
  right: 25px;
  right: 1.5625rem;
}

.top-news {
  background: #DCC4AF;
  padding: 60px 0 80px;
  padding: 3.75rem 0 5rem;
}
@media screen and (min-width: 768px) {
  .top-news {
    padding: 2.1875rem 0 2.1875rem;
  }
}

@media screen and (min-width: 768px) {
  .top-news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top-news__titles {
  margin-bottom: 38px;
  margin-bottom: 2.375rem;
}
@media screen and (min-width: 768px) {
  .top-news__titles {
    margin-right: 5.5rem;
    margin-left: 5.375rem;
    margin-bottom: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) {
  .top-news__items {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.top-news__item {
  display: block;
  margin-bottom: 37px;
  margin-bottom: 2.3125rem;
  color: #3D241B;
}
@media screen and (min-width: 768px) {
  .top-news__item {
    margin-bottom: 0.75rem;
  }
}

.top-news__item:last-child {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.top-news__item:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .top-news__item-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.top-news__date {
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .top-news__date {
    font-size: 1.125rem;
    margin-right: 1.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .top-news__title {
    font-size: 1.125rem;
  }
}

.top-products__content {
  width: 100%;
  position: relative;
}

.top-products__content::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.top-products__content img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.top-titles {
  color: #3D241B;
  text-align: center;
}

.top-titles__secondary {
  font-size: 12px;
  font-size: 0.75rem;
  padding-bottom: 7px;
  padding-bottom: 0.4375rem;
  position: relative;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .top-titles__secondary {
    font-size: 1rem;
  }
}

.top-titles__secondary::after {
  content: "";
  width: 80px;
  width: 5rem;
  height: 3px;
  height: 0.1875rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, right top, from(green), color-stop(33.3333%, green), color-stop(33.3333%, white), color-stop(66.6666%, white), color-stop(66.6666%, red), to(red));
  background: linear-gradient(to right, green 0%, green 33.3333%, white 33.3333%, white 66.6666%, red 66.6666%, red 100%);
}
@media screen and (min-width: 768px) {
  .top-titles__secondary::after {
    width: 6.875rem;
    height: 0.3125rem;
  }
}

.top-titles__primary {
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .top-titles__primary {
    font-size: 2.5rem;
  }
}

.top-about-layout {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .top-about-layout {
    margin-bottom: 0rem;
  }
}

.top-access-layout {
  margin-bottom: 100px;
  margin-bottom: 6.25rem;
}
@media screen and (min-width: 768px) {
  .top-access-layout {
    margin-bottom: 11.25rem;
  }
}

.top-blog-layout {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .top-blog-layout {
    margin-bottom: 6.3125rem;
  }
}

.top-brand-layout {
  margin-bottom: 81px;
  margin-bottom: 5.0625rem;
}
@media screen and (min-width: 768px) {
  .top-brand-layout {
    margin-bottom: 6.25rem;
  }
}

.top-main-visual-layout {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .top-main-visual-layout {
    margin-top: 5.625rem;
  }
}

.top-menu-layout {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .top-menu-layout {
    margin-top: -1px;
    margin-bottom: 6.25rem;
  }
}

.top-products-layout {
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .top-products-layout {
    margin-bottom: 6.4375rem;
  }
}
/*# sourceMappingURL=styles.css.map */
