@use "global" as *;

.footer {
    background: linear-gradient(to bottom, transparent 0%,transparent 9%,$color-accent 9%,$color-accent 100%);
    position: relative;
}

.footer__wrapper {

    @include mq('md') {
        display: flex;
    }

}

.footer__decoration {
    width: rem(132);
    position: absolute;
    bottom: rem(68);
    left: 0;
}

.footer__image {
    position: relative;
    width: rem(250);
    margin: 0 auto rem(40);
    
    @include mq('md') {
        width: rem(500);
        margin: 0 rem(100) 0 0;
    }
}

.footer__image::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.footer__image img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__content {
    text-align: center;
}

.footer__text {
    text-align: center;
    margin-bottom: rem(4.62);
    font-size: rem(15);

    @include mq('md') {
        margin-top: rem(132);
        margin-bottom: rem(7);
        font-size: rem(24);    
    }
}

.footer__tel {
    margin: 0 auto rem(40);
    font-size: rem(22);
    display: inline-block;
    padding-left: rem(31);
    position: relative;
    
    @include mq('md') {
        margin-bottom: rem(31);
        font-size: rem(36);
        padding-left: rem(50);
        
    }
}

.footer__tel::before {
    content: "";
    position: absolute;
    height: rem(30);
    width: rem(30);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../../images/top/telephone.png) no-repeat center center / cover;
    
    @include mq('md') {
        height: rem(50);
        width: rem(50);
    }
}

.footer__button {
    margin-bottom: rem(60);
    
    @include mq('md') {
        margin-bottom: rem(80);
        
    }
}

.footer__nav {
    width: 100%;
    max-width: rem(400);
    margin: 0 auto rem(55);
}

.footer__lists {
    display: flex;
    justify-content: space-between;

    @include mq('md') {
        font-size: rem(18);
    }
}

.footer__copy {
    font-size: rem(10);
    text-align: center;
    padding: rem(27) 0;
    background: $color-main;
    color: $white;
    
    @include mq('md') {
        padding: rem(22) 0;
        
    }
}

.footer__lists li a {
    position: relative;
    display: inline-block;
    padding-bottom: rem(5);
}

.footer__lists li a::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    // transform: translate(0,-50%);
    width: 100%;
    height: rem(2);
    background: $black;
    transition: all .3s;
    transform: scale(0,1);
    transform-origin: center top;
}

.footer__lists li a:hover::after {
    transform: scale(1,1);
}
