@use "global" as *;

.top-products {

}

.top-products__content {
    width: 100%;
    position: relative;
}

.top-products__content::before {
    content: "";
    display: block;
    padding-top: 100%;
}



.top-products__content img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

